<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts") == true)
    {
        @RenderSection("Scripts", required: true);
    }
    @*<div>
        <script src="~/js/testjavascript.js"></script>
    </div>*@
</body>
</html>
